<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuan.boot.app.db.module.mybatis.base.module.mapper.OrderItemMapper">
  <resultMap id="BaseResultMap" type="org.yuan.boot.app.db.module.mybatis.base.module.pojo.OrderItem">
    <!--@mbg.generated-->
    <!--@Table order_item-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="customer_open_id" jdbcType="VARCHAR" property="customerOpenId" />
    <result column="customer_union_id" jdbcType="VARCHAR" property="customerUnionId" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="price_id" jdbcType="BIGINT" property="priceId" />
    <result column="price_context" jdbcType="VARCHAR" property="priceContext" />
    <result column="price_code" jdbcType="VARCHAR" property="priceCode" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="number" jdbcType="DOUBLE" property="number" />
    <result column="item_total_price" jdbcType="DECIMAL" property="itemTotalPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_user, update_user, create_time, update_time, order_no, customer_id, customer_open_id, 
    customer_union_id, total_price, `type`, price_id, price_context, price_code, price, 
    `number`, item_total_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.yuan.boot.app.db.module.mybatis.base.module.pojo.OrderItem">
    <!--@mbg.generated-->
    insert into order_item (id, create_user, update_user, 
      create_time, update_time, order_no, 
      customer_id, customer_open_id, customer_union_id, 
      total_price, `type`, price_id, 
      price_context, price_code, price, 
      `number`, item_total_price)
    values (#{id,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{orderNo,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=VARCHAR}, #{customerOpenId,jdbcType=VARCHAR}, #{customerUnionId,jdbcType=VARCHAR}, 
      #{totalPrice,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER}, #{priceId,jdbcType=BIGINT}, 
      #{priceContext,jdbcType=VARCHAR}, #{priceCode,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{number,jdbcType=DOUBLE}, #{itemTotalPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.yuan.boot.app.db.module.mybatis.base.module.pojo.OrderItem">
    <!--@mbg.generated-->
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerOpenId != null">
        customer_open_id,
      </if>
      <if test="customerUnionId != null">
        customer_union_id,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="priceId != null">
        price_id,
      </if>
      <if test="priceContext != null">
        price_context,
      </if>
      <if test="priceCode != null">
        price_code,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="itemTotalPrice != null">
        item_total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerOpenId != null">
        #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="customerUnionId != null">
        #{customerUnionId,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="priceId != null">
        #{priceId,jdbcType=BIGINT},
      </if>
      <if test="priceContext != null">
        #{priceContext,jdbcType=VARCHAR},
      </if>
      <if test="priceCode != null">
        #{priceCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null">
        #{number,jdbcType=DOUBLE},
      </if>
      <if test="itemTotalPrice != null">
        #{itemTotalPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yuan.boot.app.db.module.mybatis.base.module.pojo.OrderItem">
    <!--@mbg.generated-->
    update order_item
    <set>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerOpenId != null">
        customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="customerUnionId != null">
        customer_union_id = #{customerUnionId,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="priceId != null">
        price_id = #{priceId,jdbcType=BIGINT},
      </if>
      <if test="priceContext != null">
        price_context = #{priceContext,jdbcType=VARCHAR},
      </if>
      <if test="priceCode != null">
        price_code = #{priceCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null">
        `number` = #{number,jdbcType=DOUBLE},
      </if>
      <if test="itemTotalPrice != null">
        item_total_price = #{itemTotalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yuan.boot.app.db.module.mybatis.base.module.pojo.OrderItem">
    <!--@mbg.generated-->
    update order_item
    set create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      order_no = #{orderNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
      customer_union_id = #{customerUnionId,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      `type` = #{type,jdbcType=INTEGER},
      price_id = #{priceId,jdbcType=BIGINT},
      price_context = #{priceContext,jdbcType=VARCHAR},
      price_code = #{priceCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      `number` = #{number,jdbcType=DOUBLE},
      item_total_price = #{itemTotalPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>